In [ ]:
# Q1)  Write a Python script to load the Superstore dataset from a CSV file into MongoDB

from pymongo import MongoClient

#  Select the database and collection
db = client["SuperstoreDB"]  # Creating/Selecting the database
collection = db["Orders"]  # Creating/Selecting the collection

#Convert DataFrame to a list of dictionaries (MongoDB format)
data = df.to_dict(orient="records")

# Insert data into MongoDB
collection.insert_many(data)

print("Data successfully loaded into MongoDB!")

# Output - Data successfully loaded into MongoDB!

Data successfully loaded into MongoDB!

In [ ]:
# Q2)Retrieve and print all documents from the Orders collection.

# Retrieve and print all documents from the Orders collection
for doc in collection.find():
    print(doc)

In [ ]:
# Q3) Count and display the total number of documents in the Orders collection.

# Count the total number of documents in the Orders collection
total_docs = collection.count_documents({})
print("Total number of documents in Orders collection:", total_docs)

Total number of documents in Orders collection: 20284

In [ ]:
# Q4) Write a query to fetch all orders from the "West" region.

# Query to fetch all orders from the "West" region
west_orders = collection.find({"Region": "West"})

# Display the fetched documents
for order in west_orders:
    print(order)

In [ ]:
# Q5) Write a query to find orders where Sales is greater than 500

# Query to fetch orders where Sales > 500
high_sales_orders = collection.find({"Sales": {"$gt": 500}})

# Display the fetched documents
for order in high_sales_orders:
    print(order)

In [ ]:
#Q6)  Fetch the top 3 orders with the highest Profit.

# Query to fetch the top 3 orders sorted by Profit in descending order
top_profit_orders = collection.find().sort("Profit", -1).limit(3)

# Display the fetched documents
for order in top_profit_orders:
    print(order)

{'_id': ObjectId('67adade1b654be7bed47fbeb'), 'Row ID': 6827, 'Order ID': 'CA-2016-118689', 'Order Date': '10/2/2016', 'Ship Date': '10/9/2016', 'Ship Mode': 'Standard Class', 'Customer ID': 'TC-20980', 'Customer Name': 'Tamara Chand', 'Segment': 'Corporate', 'Country': 'United States', 'City': 'Lafayette', 'State': 'Indiana', 'Postal Code': 47905, 'Region': 'Central', 'Product ID': 'TEC-CO-10004722', 'Category': 'Technology', 'Sub-Category': 'Copiers', 'Product Name': 'Canon imageCLASS 2200 Advanced Copier', 'Sales': 17499.95, 'Quantity': 5, 'Discount': 0.0, 'Profit': 8399.976}
{'_id': ObjectId('67ad96ef085a4ce2580bbd58'), 'Row ID': 6827, 'Order ID': 'CA-2016-118689', 'Order Date': '10/2/2016', 'Ship Date': '10/9/2016', 'Ship Mode': 'Standard Class', 'Customer ID': 'TC-20980', 'Customer Name': 'Tamara Chand', 'Segment': 'Corporate', 'Country': 'United States', 'City': 'Lafayette', 'State': 'Indiana', 'Postal Code': 47905, 'Region': 'Central', 'Product ID': 'TEC-CO-10004722', 'Category': 'Technology', 'Sub-Category': 'Copiers', 'Product Name': 'Canon imageCLASS 2200 Advanced Copier', 'Sales': 17499.95, 'Quantity': 5, 'Discount': 0.0, 'Profit': 8399.976}
{'_id': ObjectId('67ad79dff3f322e9365e380f'), 'Row ID': 6827, 'Order ID': 'CA-2016-118689', 'Order Date': '10/2/2016', 'Ship Date': '10/9/2016', 'Ship Mode': 'Standard Class', 'Customer ID': 'TC-20980', 'Customer Name': 'Tamara Chand', 'Segment': 'Corporate', 'Country': 'United States', 'City': 'Lafayette', 'State': 'Indiana', 'Postal Code': 47905, 'Region': 'Central', 'Product ID': 'TEC-CO-10004722', 'Category': 'Technology', 'Sub-Category': 'Copiers', 'Product Name': 'Canon imageCLASS 2200 Advanced Copier', 'Sales': 17499.95, 'Quantity': 5, 'Discount': 0.0, 'Profit': 8399.976}

In [ ]:
# Q7) Update all orders with Ship Mode as "First Class" to "Premium Class".

# Update all documents where Ship Mode is "First Class" to "Premium Class"
collection.update_many(
    {"Ship Mode": "First Class"},  # Filter condition
    {"$set": {"Ship Mode": "Premium Class"}}  # Update operation
)

print("Update successful: All 'First Class' Ship Modes changed to 'Premium Class'.")

# Output - Update successful: All 'First Class' Ship Modes changed to 'Premium Class'.

Update successful: All 'First Class' Ship Modes changed to 'Premium Class'.

In [ ]:
# Q8)  Delete all orders where Sales is less than 50

 # Delete all documents where Sales is less than 50
result = collection.delete_many({"Sales": {"$lt": 50}})

# Print the number of deleted documents
print(f"Deleted {result.deleted_count} orders where Sales was less than 50.")

# Output - Deleted 4849 orders where Sales was less than 50.

Deleted 4849 orders where Sales was less than 50.

In [ ]:
# Q9) Use aggregation to group orders by Region and calculate total sales per region.

# Aggregation pipeline to group by Region and sum Sales
pipeline = [
    {"$group": {"_id": "$Region", "TotalSales": {"$sum": "$Sales"}}},
    {"$sort": {"TotalSales": -1}}  # Sorting in descending order of sales
]

# Execute aggregation
result = collection.aggregate(pipeline)

# Print the results
for doc in result:
    print(f"Region: {doc['_id']}, Total Sales: {doc['TotalSales']}")

Region: West, Total Sales: 2084059.8585
Region: East, Total Sales: 1953413.115
Region: Central, Total Sales: 1438835.5374
Region: South, Total Sales: 1128069.936

In [ ]:
# Q10)  Fetch all distinct values for Ship Mode from the collection.

# Fetch distinct Ship Mode values
distinct_ship_modes = collection.distinct("Ship Mode")

# Print the results
print(distinct_ship_modes)

# Output - ['Premium Class', 'Same Day', 'Second Class', 'Standard Class']

['Premium Class', 'Same Day', 'Second Class', 'Standard Class']

In [ ]:
# Q11)  Count the number of orders for each category.

# Aggregation query to count orders per category
category_order_count = collection.aggregate([
    {"$group": {"_id": "$Category", "TotalOrders": {"$sum": 1}}}
])

# Print the results
for category in category_order_count:
    print(category)

{'_id': 'Technology', 'TotalOrders': 4488}
{'_id': 'Furniture', 'TotalOrders': 4719}
{'_id': 'Office Supplies', 'TotalOrders': 6228}